.container
  .row
    %div
    .offset-md-1.col-md-10
      .card.text-dark.p-5.border-primary
        .card-body
          = form_for @product, builder: BootstrapFormBuilder do |f|
            %h1.mb-4.text-center=title + " Producto" || "Titulo"
            .row
              = f.errors
              = f.label :p_name
              = f.text_field :p_name
              = f.label :p_description
              = f.text_area :p_description
              = f.label :p_price
              = f.text_field :p_price
              = f.label :p_quantify
              = f.number_field :p_quantify
              = f.label :p_send
              = f.text_field :p_send
              = f.label "Categoria"
              .col-md-10.offset-md-1.mb-3
                - Category.all.each do |category|
                  = check_box_tag "categories[]", category.id
                  = category.name
              = f.label :p_avalible
              = f.check_box :p_avalible
              // = f.label :user
              // = f.text_field :user
              .col-md-1
              - if title != "Crear"
                = link_to 'Show', @product, class: "col-md-3 btn btn-link"
              = link_to 'Back', products_path, class: "col-md-4 btn btn-link"
              = f.submit "#{title}"
